
<div class="container mt-3" >
 
  <span [matBadge] ="notifications" [matBadgeHidden]="notifications === 0">Notifications</span>

  <!-- Vị trí -->  
  <h1 class="mt-3" >Vị trí</h1>

  <div class="mt-3">
    <span matBadge="5" matBadgePosition="below before">Notifications</span>
  </div>
  
  <div class="mt-3">       
    <span matBadge="5" matBadgePosition="above after">Notifications</span>
  </div>
  
  <!-- 
    matBadgeSize : Size : small , medium , large 
    matBadgePosition : position : below before above after
    matBadgeColor : primary ,  accent , warn
   -->  
  <h1 class="mt-3" >Size</h1>
  <div>
    <span matBadge ="5" matBadgeSize="small">Notifications</span>
  </div>

  <h1 class="mt-3" >Color</h1>
  <div>
    <span matBadge ="5" matBadgeColor="primary">Notifications</span>
  </div>
  <div>
    <span matBadge ="5" matBadgeColor="accent">Notifications</span>
  </div>
  <div>
    <span matBadge ="5" matBadgeColor="warn">Notifications</span>
  </div>
  
</div>